<h1>FORM</h1>
<div>
  <label>name :<input type="text" placeholder="name"/>
  </label>
  <br>
</div>
<div>
  <label>email-id : <input type="text" placeholder="xyz@gmail.com"/>
  </label>
  <br>
</div>
<p>Feedback</p>

<input type="radio" id="Great" name="feed" >
<label for="Great">Great</label><br>
<input type="radio" id="Okay" name="feed">
<label for="Okay">Okay</label><br>
<input type="radio" id="Not good" name="feed">
<label for="Not good">Not good</label><br>
<button type="submit" value="post">post</button>
<button type="button" >get post</button>
